<!DOCTYPE html>
<html>
  <head>
    <title>Corecipe</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <nav class="navbar navbar-expand navbar-light" style="background-color:#ffc0bd" >
    <div class="container">
      <a class="navbar-brand" href="/">Corecipe</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <% unless user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'ログイン', new_user_session_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to '会員登録', new_user_registration_path, class:"nav-link active" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'レシピを投稿する', new_recipe_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", "/users/#{current_user.id}", class:"nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, class:"nav-link active", method: :delete %>
          </li>
          <% end %>
        </ul>
       <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
       <%= form.text_field :keyword, placeholder: "レシピを検索する", class: "search-input" %>
       <%= form.submit "検索", class: "search-btn" %>
       <% end %>
      </div>
    </div>
  </nav>
    </header>
    <%= yield %>
    <footer class="footer container-m">© 2023 Corecipe</footer>
  </body>
</html>
